.news_session {
    width: 975px;
    padding-top: 30px;
    margin: 0 auto;
}

.news_session #news {
    width: 460px;
}

.news_session #news_feed {
    padding: 16px 0;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 10px;
    margin-bottom: 24px;
    position: relative;
    display: flex;
    height: 85px;
    overflow: hidden;
    background-color: white;
}

.news_session #news_feed .dynamicItems {
    height: 56px;
    min-width: 56px;
    width: 56px;
    margin-left: 20px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid red;
    cursor: pointer;
}

.news_session #news_feed .dynamicItems:not(:first-child) {
    margin-left: 16px;
}

.news_session #news_feed .dynamicItems .photoBackground {
    border-radius: 50%;
    height: 100%;
    background-color: green;
}

.news_session #news_feed .dynamicItems .photoFont {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 10px;
    font-size: 12px;
}